body {
  margin: 0;
  background-color: rgb(202, 218, 232);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.form-container {
  background-color: rgb(89, 89, 139);
  height: 70px;
  position: fixed;
  width: 100%;
  padding: 15px 0 0 10px;
  box-shadow: 0 1px 3px rgba(235, 235, 235, 0.12), 0 1px 1px rgba(207, 207, 207, 0.14),
  0 2px 1px rgba(241, 241, 241, 0.2);
  z-index: 1;
  
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form input{
  text-align: center;
  padding-top: 18px;
  width: 20%;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  padding: 10px 8px;
  justify-content: center;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

.search-form button {
  border-radius: 0 4px 4px 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form button:hover,
.search-form button:focus {
background-color: rgb(222, 213, 240);
transition: all 0.5s;
}

.gallery-container {
padding-left: 15px;
padding-right: 15px;
padding-bottom: 25px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 100px;
  justify-content: center;
}

.large-image {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: 2px solid rgb(241, 238, 238);
  background-color: rgb(241, 238, 238);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.large-image:hover,
.large-image:focus {
  transform: scale(1.05);
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.small-image {
display: block;
height: 30vh;
object-fit: cover;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(47, 47, 47);

}

.load-more.hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 25px auto 0 auto;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #efeff3;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-bottom: 60px;
}

.load-more:hover,
.load-more:focus {
  background-color: rgb(222, 213, 240);
  transition: all 0.5s;
}
